# Ignore everything
*

# Except the files we want
# Main folder
!.gitignore
!README.md
!arial10x10.png
!LibSDL-1.2.so.0
!libtcod.so
!setup.py
!SDL.dll
!libtcod-mingw.dll
# Documentation
!docs/
!docs/*
# Code
!pyrogue/
!pyrogue/*
pyrogue/__pycache__/*
pyrogue/__pycache__/*
!main.py
!map.py
# Tests
!tests/

